// colores
$rojo: #e12454;
$oscuro: #223645;
$azul: rgb(4, 134, 209);
// fuentes
$titulos: 'Poppins', sans-serif;
$parrafos: 'Source Sans Pro', sans-serif;;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: $titulos;
    background-color: rgb(245, 245, 245);
}

h1{font-size: 3.5em;}
h2{font-size: 2.1em; color: #223645;}
h3{font-size: 1.3em; color: #223645;}
h4{font-size: 1.2em;}
h5{font-size: 1em;}
p{font-size: 1em; font-family: $parrafos;}
a{text-decoration: none; color: black; font-size: 1.2em;}

.container{
    max-width: 1800px;
    margin: auto;
    padding: 0 1em;
}


.contact-inicio{
    width: 100%;
    height: 7em;
    text-align: center;
    line-height: 25px;
    background-color: $oscuro;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    i{
        color: $rojo;
        margin-right: .5em;
    }
}

.container-navegacion{
    width: 100%;
    height: 4.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;

    .logo{
        width: 45px;
        height: 45px;
        background-image: url(../img/53.jpg);
        background-position: center;
        background-size: cover;
    }

    ul{
        display: none;
    }

    ul.visible{
        display: block;
        list-style: none;
        position: absolute;
        width: 23em;
        height: 70vh;
        background-color: rgba(0,0,0,0.8);
        padding: 2.5em 2em 0 2em;
        top: 8em;
        right: 0;
        z-index: 2;

        li a{
            color: white;
            transition: .3s ease;
        }

        li a:hover{
            color: $rojo;
        }
    }

    .navegacion{
        display: flex;
        align-items: center;

        .btn-telefono{
            margin-right: 1em;
            background-color: $rojo;
            height: 2em;
            width: 8em;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            border-radius: 15px;
            cursor: pointer;
        }

        i{
            font-size: 2em;
        }
    }

    #menu-cerrar{
        display: none;
    }

    #menu-cerrar.visible{
        display: block;
        z-index: 99;
        position: relative;
        color: white;
    }

    #menu-abrir.salir{
        display: none;
    }
}

.banner{
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url(../img/doctor-sonriendo-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;

    p{
        margin: .5em 0 .5em 0;
        font-size: 5vw;
    }

    h1{
        line-height: 1.2em;
        font-size: 13vw;
    }

    button{
        width: 10em;
        height: 3.2em;
        margin-top: .5em;
        background-color: $rojo;
        border: none;
        border-radius: 15px;
        color: white;
        cursor: pointer;
        transition: .2s ease;
        
        a{
            font-size: 1.5em;
            color: white;
        }
    }
    button:hover{
        background-color: #fc0c48;
    }
}

.nuestros-servicios{
    width: 100%;
    text-align: center;
    margin-top: 4em;
    color: #223645;

    h2{
        margin: .5em 0 1em 0;
    }

    .servicios-container{
        width: 100%;

        .cart-servicios{
            width: 100%;
            height: 17em;
            margin: 1em 0 2.5em 0;

            .text-cart{
                width: 85%;
                height: 5em;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: white;
                border-radius: 7px;
                position: relative;
                right: -1.5em;
                top: -1em;
            }

            .cart1{
                width: 100%;
                height: 80%;
                background-image: url(../img/pediatra.jpg);
                background-position: top;
                background-size: cover;
            }

            .cart2{
                width: 100%;
                height: 80%;
                background-image: url(../img/tobillo-fracturado.jpg);
                background-position: top;
                background-size: cover;
            }

            .cart3{
                width: 100%;
                height: 80%;
                background-image: url(../img/examen-audicion.jpg);
                background-position: top;
                background-size: cover;
            }

            .cart4{
                width: 100%;
                height: 80%;
                background-image: url(../img/docotr-viendo-radiografia.jpg);
                background-position: top;
                background-size: cover;
            }
        }
    }
}

.sobre-mi{
    width: 100%;
    text-align: center;
    margin-top: 3em;

    h2{
        margin-bottom: 1em;
    }

    .img-grande{
        width: 90%;
        height: 70vh;
        margin: 0 auto .5em auto;
        border-radius: 20px;
        background-image: linear-gradient(
            180deg,
            rgba(245,245,245,0),
            rgba(0,0,0,0.1)
        )
        ,url(../img/doctor-vertical.jpeg);
        background-position: top;
        background-size: cover;
    }

    .text-img-grande{
        width: 90%;
        padding: 1em;
        margin: 0 auto 2em auto ;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0 10px 45px rgb(0 0 0 / 15%);
    }
}

.nuestro-equipo{
    width: 100%;
    color: #223645;

    .expertos{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-bottom: 2.5em;

        h2{
            margin: 0 auto 2em auto;
        }

        .carts-container{
            display: flex;
            flex-wrap: wrap;
        }

        .cart-expertos{
            width: 9em;
            text-align: center;
            margin: auto;

            .img-container-exp{
                width: 80%;
                height: 7.5em;
                margin: auto;
                border-radius: 50px;
                background-position: center;
                background-size: cover;
            }

            .img-experto1{
                background-image: url(../img/doctora-rostro.jpeg);
            }

            .img-experto2{
                background-image: url(../img/doctor-rosotro.jpeg);
            }

            .img-experto3{
                background-image: url(../img/doctor-sonriendo-comentario.jpg);
                margin-top: 1.5em;
            }
        }
    }
}

.best-medical{
    width: 100%;
    height: 60vh;
    color: white;
    padding: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
    )
    ,url(../img/doctor-fonde-\ verde-banner.jpg);
    background-position: center;
    background-size: cover;

    h3{
        margin-bottom: 1em;
        color: white;
    }
}

.mision{
    width: 100%;
    background-color: $rojo;
    color: white;
    text-align: center;
    padding: 1em;

    h5{
        font-size: 1.2em;
        margin-bottom: .5em;
    }

    p{
        margin-bottom: 1em;
    }

    .redes-mision{
        width: 10em;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;

        i{
            font-size: 2em;
            
        }
    }
}

footer .container-footer{
    width: 100%;
    background-color: $oscuro;
    color: white;
    padding:  1em;

    p{
        margin-bottom: .5em;
    }

    i{
        font-size: 1.5em;
        margin-right: .5em;
    }

    .copy{
        background-color: $oscuro;
        color: white;
        text-align: center;
        margin-top: 1.5em;

        p{
            margin: 0;
        }
    }
}

// Estilos de slide 

.hidden{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
}

.cart-servicios:nth-child(2){
    transition-delay: 200ms;
}
.cart-servicios:nth-child(3){
    transition-delay: 400ms;
}
.cart-servicios:nth-child(4){
    transition-delay: 600ms;
}

.cart-expertos:nth-child(2){
    transition-delay: 200ms;
}
.cart-expertos:nth-child(3){
    transition-delay: 400ms;
}

.show{
    opacity: 1;
    filter: blur(0);
}
// Fin estilos de slide

// INICIO ESTILOS PAGE CONTACTO
.contacto-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .contacto-texto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin:3em 0 2.5em 0;

        .cart-contacto{
            display: flex;
            align-items: center;
            margin-bottom: 1em;

            p{
                font-size: 1.3em;
            }

            i{
                font-size: 2.2em;
                margin-right: .5em;
                color: $oscuro;
            }
        }
    }

    .map{

        iframe{
            width: 320px;
            height: 300px;
        }
    }
}

.container-fqa{
    border: 1px solid rgba(0,0,0,0.12);
    padding: 1em;
    margin: 3em 0 2em 0;

    .pregunta-container{
        margin-top: 1.2em;

        .pregunta{
            height: 2.5em;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 1em 0 1em;
            background-color: #dbdbdb;
            cursor: pointer;
            transition: .2s ease;

            p{
                font-weight: bold;
            }
        }
        .respuesta{
            display: none;
        }
        .respuesta.visible{
            display: block;
            padding: .3em 0 .3em 1em;
            background-color: #eeeeee;
        }
        .pregunta:hover{
            color: $rojo;
        }
    }
}

// MEDIA QUERIES    


@media (min-width: 550px){

    .banner p{
        font-size: 4vw;
    }

    .nuestro-equipo .expertos .cart-expertos .img-experto3{
        margin-top: 0;
    }

    .best-medical{
        height: 50vh;
    }
}

@media (min-width: 650px){
    .banner p{
        font-size: 3.3vw;
    }
    .banner h1{
        font-size: 11vw;
    }
    .banner button{
        font-size: 1.1em;
    }

    .servicios-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .nuestros-servicios .servicios-container .cart-servicios {
        width: 45%;
    }
    
}

@media (min-width: 800px){

    .banner{
        padding: 2em;
    }
    .banner p {
        font-size: 3vw;
    }
    .banner h1 {
        font-size: 10vw;
    }

    .sobre-mi .img-grande {
        width: 60%;
        height: 75vh;
        background-image: url(../img/doctor-vertical.jpeg);
    }

    .sobre-mi .text-img-grande {
        width: 70%;
    }

    .best-medical {
        height: 40vh;
    }
}

@media (min-width: 950px){

    nav{
        display: flex;
        width: 80%;
        justify-content: space-between;
        align-items: center
    }

    .container-navegacion ul{
        display: block;
        list-style: none;
        display: flex;
        width: 80%;
        justify-content: space-evenly;
    }

    .container-navegacion ul li a{
        transition: .3s ease;
    }

    .container-navegacion ul li a:hover{
        color: $rojo;
    }

    .container-navegacion .navegacion i {
        display: none;
    }

    .banner p {
        font-size: 2.5vw;
    }
    .banner h1 {
        font-size: 7vw;
    }
    .banner button {
        font-size: 1em;
    }

    .best-medical{
        padding: 2em;
    }

    .best-medical h3 {
        margin-bottom: 0.5em;
    }
}

@media (min-width: 1100px){

    .nuestros-servicios .servicios-container .cart-servicios {
        width: 40%;
    }

    .nuestro-equipo .expertos .carts-container {
        max-width: 1068px;
        width: 1068px;
        margin: auto;
    }
}

@media (min-width: 1400px){
    .banner h1 {
        font-size: 6vw;
    }
    .banner p {
        font-size: 2.2vw;
    }
    .container-navegacion .navegacion .btn-telefono {
        margin-right: 2em;
        height: 3em;
        width: 10em;
    }
    .container-navegacion .navegacion i {
        font-size: 2.3em;
    }

    .nuestros-servicios {
        width: 1400px;
        max-width: 1400px;
        margin: auto;
        text-align: center;
    }
}

@media (min-width: 1650px){
    .banner h1{
        font-size: 5.9vw;
    }
    .banner p{
        font-size: 2em;
    }
}